body{
    background: linear-gradient(to left, #0072ff, #00c6ff);
}

#content{
    width: 600px;
    margin: 200px auto;
    background-color: white;
    padding: 20px 0;
    border-radius: 1em;
}

.editxt{
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.opt-btn {
    width: 12px;
    margin: 5px 2px 0 0;
    cursor: pointer;
}

.buttons-textarea{
    border: solid 1px #aaa;
    border-bottom: none;
    width: auto;
    padding-left: 20px;
}

.textArea {
    border: solid 1px #aaa;
    padding: 0 20px;
    outline: 0px solid transparent;
  }